{% extends "base.html" %}{% load i18n %}
{% block title %}{{ object }} {% trans "at" %} {{ block.super }}{% endblock title %}
{% block content %}
<ul class = 'text'>
<h1 style = 'font-weight:;'> Profile</h1>
<p>{% trans "user:"|title %} {{ object.username }}<p>
<p>{{ object.first_name }} {{ object.last_name }}</p>
{% if object == request.user %}
    <p>{% trans "e-mail"|capfirst %}: {{ object.email }}</p>
{% endif %}
<p>{% trans "Cash balance: "|title %}</p>
<p>{% trans "Total investement: "|title %}</p>
</ul>
{% endblock content %}

