{% extends "base.html" %}{% load static i18n %}
{%block content%}
<ul class = 'text'>
<h>Investing is the best pick if you want to secure a safe future.<br>With infinite you can invest in stocks and crypto currencies<br>At infinite there are no limits.<br></h>
<br>Bitcoin: {{btc}}
    <ul class = 'btc'>
        <a style = 'text-decoration:none;color:black;' href ="{%url 'btc'%}">Invest</a>
    </ul>
<br>Ethereum: {{eth}}</h>
    <ul class = 'btc'>
        <a style = 'text-decoration:none;color:black;' href ="{%url 'eth'%}">Invest</a>
    </ul>
<ul>
{%endblock content%}
